# 1. Environnements virtuels (Spécifique à l'OS, ne JAMAIS commiter)
asr_env/
venv/
env/

# 2. Données, Modèles et Cache (Trop lourd pour GitHub)
data/
.cache/

# 3. Logs et exécutions
logs/
*.log

# 4. Fichiers de Cache Python (Inutiles)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# 5. Fichiers système OS (Mac/Windows)
.DS_Store
Thumbs.db